/* body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0b1522;
} */
.heart {
  height: 60px;
  width: 60px;
  background: #f20044;
  position: relative;
  transform: rotate(-45deg);
  right: -28%;
  top: -20%;
  box-shadow: -10px 10px 90px#f20044;
  animation: heart 0.6s linear infinite;
  z-index: 1;
}
@keyframes heart{
  0%{
    transform: rotate(-45deg) scale(1.07);
  }
  80%{
    transform: rotate(-45deg) scale(1.0);
  }
  100%{
    transform: rotate(-45deg) scale(0.8);
  }
}

.heart::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  background: #f20044;
  top: -50%;
  border-radius: 50%;
  box-shadow: -10px -10px 90px#f20044;
}
.heart::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  background: #f20044;
  right: -50%;
  /* margin-left: 50%; */
  border-radius: 50%;
  box-shadow: 10px 10px 90px#f20044;
}
@media (max-width: 700px) {
  .heart, .heart::before, .heart::after {
    width: 40px;
    height: 40px;
  }
  .heart{
    right: -100px;
  }
  .heart::before{
    width: 40px;
    height: 40px;
  }
  .heart::after{
    width: 40px;
    height: 40px;;
  }
}
/* .heart:hover{
  background: #32bbb4;
  box-shadow: 10px 10px 90px#32bbb4;
}
.heart:hover::after{
  background: #32bbb4;
  box-shadow: 10px 10px 90px#32bbb4;
}
.heart:hover::before{
  background: #32bbb4;
  box-shadow:10px 10px 90px #32bbb4;
} */